/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@800&display=swap'); */
body {
background-color: #222222;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


.userhead {
width:100%;
height: 12vh;
background-color: #9dc5bf;
}

h2 {
    margin-bottom:1.5rem;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 3rem;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;    
    text-decoration: underline;
    text-decoration-color:#31a5d8;
    text-decoration-style:wavy;
}

h3 {
font-size: 1.5rem;
font-weight: 800;
line-height: 12vh;
margin-left: 3rem;
letter-spacing: 2px;
font-family: 'Oswald', sans-serif;
}

.container {
margin: 4rem;
}

.containerA {
    margin: 1rem;
    }

.page-content {
margin: auto;
background-color: #c5bb9d;
width: 80%;
height: 65vh;
}

.dirNumber {
    float:right;
    text-align: right;
    width:100%;
    padding:1rem;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'Oswald', sans-serif;
    color: rgba(74, 74, 74, 0.995);
}

.userInfo {
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: rgba(74, 74, 74, 0.995);        
    padding-left: 3.5rem;
}

.userInfoB {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: rgba(38, 38, 38, 0.995);    
}


.userInfoMovie {
    margin-top:2rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: rgba(74, 74, 74, 0.995);        
    padding-left: 3.5rem;
}

ul {
    margin-left:3rem;
}

nav {
    margin:auto;
    width:80%;
    display: flex;
    justify-content: space-between;
}

.navItems {
    display: inline-block;
}

button {
    color:blanchedalmond;
    width: 20%;
    text-decoration: none;
    background-color: transparent;
    width: 5rem;
    padding-top: .3rem;    
}